body {
  background-color: #21222c;
}

/* 👇👇👇 Paste the styles of your Fancy Robot from the "Position it right" assignment here 👇👇👇 */

.robot-container {
  background-color: #21222c;
  position: relative;
  top: 300px;

}


.robot-face-shape {
  height: 550px;
  width: 1000px;
  background: linear-gradient(
    to bottom,
    #585252 0%,
    rgba(143, 138, 138, 0.6) 00%,
    rgba(88, 82, 82, 0.2) 100%);
    border: 5px solid #3e3a3a;
  border-radius: 50%;
  position: relative;
  left: 500px;
  top: 150px;
}

.robot-eye-left {
  height: 10%;
  width: 10%;
  background-color: #BF0D0D;
  border-radius: 50%; 
  border-style: solid;
  border-color: rgb(22, 22, 22);
  position: relative;
  left: 250px;
  top: 150px;
}

.robot-eye-right {
  height: 10%;
  width: 10%;
  background-color: #BF0D0D;
  border-radius: 50%; 
  border-style: solid;
  border-color: rgb(22, 22, 22);
  position: relative;
  left: 650px;
  top: 100px;
}

.robot-ear-left {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-right: 100px solid #585252;
	border-bottom: 50px solid transparent;
  position: relative;
  left: 1475px;
  top: -200px;
}


.robot-ear-right {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 100px solid #585252;
	border-bottom: 50px solid transparent;
  position: relative;
  left: 425px;
  top: -300px;
}
.robot-ear-right:hover{
  transform: translateX(50px); 
  transition: transform 2s ease;
}

.robot-nose {
	border-bottom: 75px solid blue;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 175px;
  position: relative;
  left: 415px;
  top: 125px;
}

.robot-teeth {
  width: 400px;
  height: 30px;
  border: 5px solid black;
  border-top: none;
  border-radius: 0 0 50px 50px;
  position: relative;
  left: 300px;
  top: 250px;
}

.robot-tooth {
   display: inline-block;
    height: 40px;
    width: 25px;
    background: radial-gradient(circle at center, #fcfdfc 0%, rgb(160, 167, 160) 100%), 
              url('https://fastly.picsum.photos/id/366/200/300.jpg?blur=2&hmac=1bLfJI9WAcUiNUbavSHsJE-ls5Wgwyggtxdi1UGYBKs');
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 8px;
    position: relative;
    left: 20px;
    top: -15px;
}

.robot-hair-style {
  width: 500px;
  height: 50px;
  border: 5px solid black;
  border-radius: 0 0 175px 175px;
  transform: rotate(180deg);
  background-color: transparent;
  position: relative;
  left: 750px;
  top: -615px;
}

.robot-hair-one {
   height: 60px;
  width: 90px;
  background-color: #c43131;
  display: inline-block;
  position: relative;
  top: -50px;
  left: 5px;
    
}

.robot-hair-two {
 height: 60px;
  width: 90px;
  background-color: #d14aaf;
  display: inline-block;
  position: relative;
  top: -50px;
  left: 5px;
}

.robot-hair-three {
  height: 110px;
  width: 100px;
  background: radial-gradient(circle at center, #388029 0%, limegreen 100%);
  display: inline-block;
  position: relative;
  top: 0px;
  left: 5px;
}